.ipynb_checkpoints
*/.ipynb_checkpoints/*
*__pycache__/

.DS_Store
*/.DS_Store/*
._.DS_Store
*/._.DS_Store/*

*/venv/*
*__init.py__

running_script.txt
/api/file_planning.md
.env

/claim_detection/xml_model_finetune/data
/claim_detection/xml_model_finetune/xml-roberta-model/
/claim_detection/xml_model_finetune/mlruns/
/claim_detection/xml_model_finetune/sbert_array_job*
/claim_detection/xml_model_finetune/submit.sh
/claim_detection/xml_model_finetune/.env
/claim_detection/xml_model_finetune/hyperparameter_tuning.ipynb
/claim_detection/xml_model_finetune/._hyperparameter_tuning.py
/claim_detection/xml_model_finetune/xmlroberta-tunning.log

/database/data
/database/test*
/database/sentence-transformer-model

volumes