python-dotenv==1.0.1
PyYAML==6.0.2
pydantic==2.10.3
pytest==8.3.4
uvicorn[standard]==0.34.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers==4.47.1
huggingface_hub==0.26.5
mlflow==2.19.0
git+https://github.com/Wauplin/setfit@dont-use-deprecated-dataset-filter
aio-pika==9.5.5
asyncio==3.4.3