# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
demoji=1.1.0=pyhd8ed1ab_0
fi-core-news-lg=3.7.0=pypi_0
huggingface_hub=0.24.2=pyhd8ed1ab_0
numpy=1.26.4=py311h7125741_0
pandas=2.2.2=py311h4b4568b_1
pyspark=3.5.1=pyhd8ed1ab_0
python-dotenv=1.0.1=pyhd8ed1ab_0
pytorch=2.3.1=cpu_generic_py311h82099cb_1
scikit-learn=1.5.1=py311hbfb48bc_0
scipy=1.14.0=py311hceeca8c_1
spacy=3.7.5=py311hd6dc194_1
torchvision=0.18.1=cpu_py311h6f1efb0_1
transformers=4.43.3=pyhd8ed1ab_0
